@charset "UTF-8";
@use "base/variable" as *;
@use "base/mixin" as *;
@use "base/reset" as *;
@use "base/container" as *;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --initial-clip-path: inset(10%);
}

@keyframes blinkAni {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./../images/slideshow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide, .slide .img_wrap, .slide .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    &.current {
        opacity: 1;
        pointer-events: auto;
    }

    @for $i from 1 through 3 {
        &#{$i} {
            .img {
                background-image: url('./../images/img#{$i}.jpg');
            }
        }
    }

    &3 {
        .img_wrap {
            .img {
                background-position: left !important;
            }
        }
    }

    .img_wrap {
        overflow: hidden;
        will-change: transform;
        clip-path: var(--initial-clip-path);

        .img {
            position: relative;
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
            will-change: transform;
            backface-visibility: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
    }

    .caption {
        overflow: hidden;
        position: relative;
        z-index: 1;
        width: 80%;
        cursor: default;

        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 var(--page-padding);

            * {
                color: white;
            }
        }

        h2 {
            font-family: "Lobster Two", sans-serif;
            @include fontSize(48, 96);
            font-weight: 400;
        }

        a {
            display: block;
            position: relative;
            padding-left: to_vw(12);
            text-align: right;
            line-height: 1;

            &:hover {
                text-decoration: underline;
                color: $pointColor;
            }

            &::before {
                content: '❖';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-size: 8px;
                opacity: 0;
                animation: blinkAni 1s steps(1) infinite;
            }
        }
    }
}

.slide_controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: fit-content;
    padding: 0 var(--page-padding);

    button {
        opacity: .5;
        color: $pointColor;

        &:hover {
            opacity: 1 !important;
            text-decoration: underline;
        }
    }
}

.slide_index {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--page-padding);
    color: $pointColor;

    span {
        margin: 0 4px;
        color: $pointColor;
    }
}


